@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E5E5;
    background-image: url(./images/Ellipse\ 19.svg);
    /* background-size: 1001px; */
    background-repeat: no-repeat;
    background-position: center bottom;
}

.head {
    /* background-color: white; */
    height: 586px;
    padding-top: 37px;
    background-image: url(./images/Rectangle\ 5.svg);
}

.elips {
    position: absolute;
    right: 16px;
    top: 0px;
}

.elips-2 {
    position: absolute;
    top: 601px;
    right: 0px;
}

.elips-3 {
    position: absolute;
    bottom: -106px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 145px;
}

.nav {
    display: flex;
    gap: 64px;
    align-items: center;
    z-index: 2;
}

.language {
    display: flex;
    align-items: center;
    z-index: 2;
}

.kebab {
    display: flex;
    align-items: center;
}

.link {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.kebab-logo {
    font-family: 'Advent Pro', sans-serif;
    font-size: 32px;
}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-select {
    display: flex;
    align-items: center;
    gap: 8px;
}

.go-use {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.go-use-title {
    width: 608px;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
}

.go-use-text {
    width: 944px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.go-use-button {
    width: 257px;
    height: 54px;
    border-radius: 100px;
    border: none;
    background: #C2FBD7;
    box-shadow: 0px 16px 32px 0px rgba(44, 187, 99, 0.15), 0px 8px 16px 0px rgba(44, 187, 99, 0.15), 0px 4px 8px 0px rgba(44, 187, 99, 0.15), 0px 2px 4px 0px rgba(44, 187, 99, 0.15), 0px 1px 2px 0px rgba(44, 187, 99, 0.15), 0px -25px 18px -14px rgba(44, 187, 99, 0.20) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.advantages {
    height: 583px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #E3E5E5; */
}

.advantages-center {
    display: flex;
    width: 888px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.advantages-center-title {
    display: flex;
    gap: 24px;
}

.advantages-center-categories {
    display: flex;
    gap: 24px;
}

.advantages-center-category {
    width: 280px;
    height: 361px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.advantages-center-category-text {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.advantages-center-category-text-title {
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 700;
    
    text-align: center;
    color: #2C2C2C;
    font-size: 16px;

}

.advantages-center-category-text-about {
    color: #2C2C2C;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
}

.feedback {
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Rectangle\ 7.svg);
}

.feedback-center {
    width: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.feedback-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.feedback-review {
    padding: 24px 78px 24px 24px;
    border-radius: 10px;
    background: #F3F3F3;
    display: flex;
    gap: 24px;
}

.feedback-center-title {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 400; /* 170.833% */
}

.footer {
    padding: 41.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    gap: 18px;
    align-items: center;
}

.logo {
    grid-row: 1/3;
}

.helps {
    display: flex;
    gap: 24px;
}

.help {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.zig-zag {
    height: 74.5px;
    background-image: url(./images/Rectangle\ 8.svg);
}

@media all and (max-width: 1150px) {
    .header {
        justify-content: space-between;
        gap: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 930px) {
    .header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        grid-row-gap: 15px;
        grid-column-gap: 5px;
    }

    .kebab {
        grid-column: 1/3;
        justify-self: center;
    }

    .nav {
        gap: 30px;
        justify-content: space-between;
    }
}